/* Index */


.post-feed {
    display: grid;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 980px) {
    .post-feed {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 680px) {
    .post-feed {
        grid-template-columns: 1fr;
    }
}

.post-card {
    color: inherit;
    text-decoration: none;
}

.post-card:hover {
    text-decoration: none;
}

.post-card-tags {
    margin: 0 0 5px 0;
    font-size: 1.4rem;
    line-height: 1.15em;
    color: var(--color-secondary);
}


.post-card-title {
    margin: 0 0 10px 0;
    padding: 0;
}

.post-card-excerpt {
    font-size: 1.6rem;
    line-height: 1.55em;
}

.post-card-image {
    margin: 0 0 10px 0;
    width: auto;
    height: 200px;
    background: var(--color-secondary) no-repeat center center;
    background-size: cover;
}

.post-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
    color: var(--color-secondary);
}

.post-card-footer-left {
    display: flex;
    align-items: center;
}

.post-card-footer-right {
    display: flex;
    flex-direction: column;
}

.post-card-avatar {
    width: 30px;
    height: 30px;
    margin: 0 7px 0 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card-avatar .author-profile-image {
    display: block;
    width: 100%;
    background: var(--color-secondary);
    border-radius: 100%;
    object-fit: cover;
}

.post-card-avatar .default-avatar {
    width: 26px;
}

.newsletter-form {
    padding: 20px 0 40px 0;
    margin: 1.8rem 0 0.4rem;
    text-align:center;
    font-size: 1.3rem;
}

.newsletter-form h3 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-secondary);
    margin-top: 0.3rem;
    margin-bottom: 0.9rem;
}

.newsletter-form label {
    padding-right: 18px;
}

:placeholder-shown {
  color: var(--color-secondary);
}
::-placeholder {
  color: var(--color-secondary);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--color-secondary);
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--color-secondary);
}

.newsletter-input {
    padding: 0.6rem 0.8rem 0.35rem;
    font-size: 1.6rem;
    border: none;
    border-bottom: 1.5px solid var(--color-border);
    width: 254px;
    &:hover, &:focus {
        border-color: var(--color-primary);
    }
}

.newsletter-submit {
    background: var(--color-base);
    padding: 0.6rem 3.8rem 0.35rem;
    width: 254px;
    border: none;
    opacity: 0.85;
    color: var(--color-bg);
    &:hover, &:focus {
        opacity: 1;
    }
    margin: 0.3em 0.2em;
    font-size: 1.6rem;
    border-radius: 999px;
}

.post-card-meta {
    color: var(--color-secondary);
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 0.6em;
}